.row-header {
    margin: 0px auto;
    padding: 0px auto;

}
.row-content {
       margin:0px auto;
    padding: 50px 0px 50px 0px auto;
    border-bottom: 1px ridge;
    min-height: 150px;
}


.footer {
 background-color:#B2BEB5;
    margin:0px auto;
    padding: 20px 0px 20px 0px;

}

.jumbotron {
 padding: 40px 30px 40px 30px;
    margin: 0px auto;
    background:#8A2BE2;
    color: cornsilk;
}

.corporate{
    padding: 80px 0px 0px 0px;
}

body{
    padding : 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background: #512d85;
}
.nav-item {
    padding: 0px 0px 0px 20px;
}